main {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    
    padding: 10px;
    width: 93%;
    

}

.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 23px;
    color: black;
    margin: 0px;
}

.newgame{
    font-size: 20px;
    color: white;
    background: rebeccapurple;
    border: none;
    padding: 20px;
    border-radius: 29px;
    margin: 10px 0px;
}:focus{
    outline: none;
    
}
.newgame:active{
    background: rgb(68, 29, 107);

}

p{
    margin: 0px;
}

@media only screen and (min-width: 400px) {
    main {
        width: 380px;
        
    }
  }




app-tile{
    width: 32%;
   margin: 1px;
   height: 100px;
} 
