
  <main>
    <app-tile 
    *ngFor="let squareVal of squares; let i = index;" 
    [value]="squareVal" 
    (click)="changeState(i)" ></app-tile>
    
  </main>


 
 

<div class="footer">

  <button class="newgame" (click)="newGame()"> New Game </button>

  <p *ngIf = "!this.winner">{{this.winner}}</p>
  <p *ngIf = "this.winner">{{this.winner}} wins! </p>
</div>
 




 

