.normal{
    width: 100%;
    height: 100%;
    border: none;
    background-color: #d4d3d3;
    font-size: 50px;
    
    margin: 0px;
    
} :focus{
    outline:none;  
} 

.green{
    color: green;

}

.orange{
    color: #ff8d00;
}